/* carousel custom styles */
.slider {
    height: 80vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.sliderexample {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.slider-text {
    position: absolute;
    content: "";
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* responsive image */
.learning-img {
    object-fit: cover;
}

/* custom background */
.sk-bg-primary {
    background-color: #289BDE;
}

/* custom text color */
.sk-text-primary {
    color: #289BDE;
}

.sk-btn-light{
    background-color: #ffffff;
    color: #289BDE;
}

/* custom buttons */
.sk-btn-primary {
    background-color: #289BDE;
    color: #ffffff;
}

.sk-btn-outline-primary {
    border: 1px solid #289BDE;
    color: #289BDE;
    transition: background-color 0.3s linear;
}

/* register section custom styles */
.sk-register {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer custom styles */
.sk-footer {
    background-color: #161616;
    height: 400px;
}

/* social icons custom styles */
.navigation {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.navigation li {
    background-color: #242424;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation li a {
    color: #ffffff;
    font-size: 1.25rem;
}